<a href="https://colab.research.google.com/github/GregoryBWilson/Amazon_Vine_Analysis/blob/main/Step_5_Temporal_View_of_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Project - Temporal View of Data

# 1 Import Resources

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import numpy as np

In [2]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
# Links to Transactions file
link_transactions = 'https://drive.google.com/file/d/1ZhnMKEPMGEwwhq-3gBA2w9pFszKT0wQV/view?usp=sharing'
fluff, id_transactions = link_transactions.split('/d/')
id_transactions = id_transactions.partition('/view')[0]
print (id_transactions) # Verify that you have the correct id

1ZhnMKEPMGEwwhq-3gBA2w9pFszKT0wQV

In [4]:
#  Import and read the sis_transactions_export.csv.
downloaded = drive.CreateFile({'id':id_transactions}) 
downloaded.GetContentFile('sis_transactions_export.csv')  
dtypes = {"APP_TYPE":"object","POSTALZIP":"object","ID":"object","SUBMISSION_TYPE":"object","DESCRIPTION_ENG":"object","GRP":"object","APPLICATIONID":"object","STATUS_DATE":"object","DOB":"object","GENDER":"object","SCANNERMODEL":"object","COUNTRY_CODE":"object","SRS":"object","ORI":"object","ATTENTION_NAME":"object","RETURNPOSTAL":"object"}
date_cols = ["DOB","STATUS_DATE"]
application_df = pd.read_csv('sis_transactions_export.csv', dtype=dtypes, parse_dates=date_cols, encoding='latin-1')

application_df

,APP_TYPE,POSTALZIP,ID,SUBMISSION_TYPE,DESCRIPTION_ENG,GRP,APPLICATIONID,STATUS_DATE,DOB,GENDER,SCANNERMODEL,COUNTRY_CODE,SRS,ORI,ATTENTION_NAME,RETURNPOSTAL
0,7,G6W 2C2,54,C,EMPLOYMENT (PRIVATE INDUSTRY),IQ,118018,2015-03-09,1988-02-27,F,NaN,124,1,NaN,NaN,NaN
1,7,J7G 3B5,54,C,EMPLOYMENT (PRIVATE INDUSTRY),IQ,118000,2015-03-09,1972-02-13,M,NaN,124,1,NaN,NaN,NaN
2,7,G2B 0N9,54,C,EMPLOYMENT (PRIVATE INDUSTRY),IQ,118045,2015-03-10,1989-04-10,F,NaN,124,1,NaN,NaN,NaN
3,7,H7X 1E2,54,C,EMPLOYMENT (PRIVATE INDUSTRY),IQ,118033,2015-03-10,1959-01-27,M,NaN,124,1,NaN,NaN,NaN
4,7,G1S 3A2,54,C,EMPLOYMENT (PRIVATE INDUSTRY),IQ,118071,2015-03-10,1990-10-29,F,NaN,124,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300929,0,L4P 3T2,172,N,NaN,ISB_PARA,5140684,2022-03-22,2001-03-31,M,NaN,124,1,NaN,NaN,NaN
300930,0,J1E 3J8,54,N,NaN,IQ,5140807,2022-03-22,1996-08-30,F,NaN,124,3,NaN,ROXANNE FEDERICI,J1E 3J8
300931,0,L7A 4T4,172,N,NaN,ISB_PARA,5140831,2022-03-22,1999-11-04,M,NaN,124,1,NaN,NaN,NaN
300932,21,K1C 0B9,275,E,EMPLOYMENT (FEDERAL GOVT),EXCELHR,5140784,2022-03-22,1978-11-13,M,GUARDIAN 200,124,2,PQ80800,NaN,NaN
300933,23,G3E 1Y2,54,E,RECORD SUSPENSION APPLICATION,IQ,5137466,2022-03-22,1983-12-05,M,PERFECTION V800,124,4,NaN,IDENTITE QUEBEC,G2E 6H5